<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Pie Chart -->
<!-- <figure>
    <embed src="https://wakatime.com/share/@{{site.wakatime_username }}/f540df00-f2d1-46e2-a360-da7e13ed8a66.svg"></embed>
</figure> -->
<figure>
    <embed src="https://wakatime.com/share/@ranisop/c2bbbf41-afa5-46ce-b2dd-4e6f8da075db.svg"></embed>
</figure>


<!-- Hours Coded -->
<!-- <figure>
    <embed src="https://wakatime.com/share/@ranisop/bc935c74-b796-4b36-ab8c-d3d49620b189.svg"></embed>
</figure>
 -->
